name: PHP Lint
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Syntax Check
        run: find . -name '*.php' -not -path './vendor/*' -print0 | xargs -0 -n1 php -l
